<% content_for :title do %>
  Resolution Show Page
<% end %>

<section class='main-content-header'>
  <h1><%= content_for :title %></h1>
</section>

<section class='main-content'>
  <div class='row'>
      <div class='col-sm-6'>
        <div class='panel panel-default'>
          <div class='panel-heading'>Existing Merge Data</div>
          <ul class='list-group'>
            <% @existing_data.each do |key, value| %>
              <li class='list-group-item'><%= key.titleize %>: <%= value %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class='col-sm-6'>
        <div class='panel panel-default'>
          <div class='panel-heading'>New Data</div>
            <ul class='list-group'>
              <%= bootstrap_form_tag do |f| %>
                <% @new_data.each do |key, value| %>
                  <li class='list-group-item resolution-attribute' data-attribute-name='<%= key %>' data-attribute-value='<%= value %>'>
                    <span><%= key.titleize %>: <%= value %></span>
                    <%= f.form_group do %>
                      <%= f.radio_button key, 'approve', checked: true, label: 'Approve', inline: true %>
                      <%= f.radio_button key, 'reject', label: 'Reject', inline: true %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
        </div>
        <button class='btn btn-dark-blue btn-block' id='btn-save-resolution' data-resolution-id='<%= @resolution_id %>' data-update-type='<%= @update_type %>'>Save</button>
      </div>

  </div>
</section>
