<% content_for :title do %>
  <% if @resolution_type == 'POST' %>
    New <%= @update_type.titleize %>
  <% elsif @resolution_type == 'DELETE' %>
    Delete <%= @update_type.titleize %>
  <% elsif @resolution_type == 'PATCH' %>
    Update <%= @update_type.titleize %>
  <% end %>
<% end %>

<section class='main-content-header'>
  <h1><%= content_for :title %></h1>
</section>

<section class='main-content'>
  <div class='row'>
    <%= bootstrap_form_for :resolutions, url: resolution_path(@resolution_id), method: :patch do |f| %>
      <%= f.hidden_field :update_type, value: @update_type %>

      <% @merge_data.each do |key,value| %>
        <%= f.hidden_field "merge_data[#{key}]", value: value %>
      <% end %>

      <% @new_data.each do |key,value| %>
        <%= f.hidden_field "new_data[#{key}]", value: value %>
      <% end %>

      <% if @resolution_type == 'POST' %>
        <%= render partial: 'resolutions/partials/create_template', locals: {f: f} %>
      <% elsif @resolution_type == 'DELETE' %>
        <%= render partial: 'resolutions/partials/delete_template', locals: {f: f} %>
      <% elsif @resolution_type == 'PATCH' %>
        <%= render partial: 'resolutions/partials/update_template', locals: {f: f} %>
      <% end %>

      <%= f.submit "Save", class: 'btn btn-dark-blue btn-block' %>

    <% end %>
  </div>
</section>
